@import "../theme/variables.less";

body {
  font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
}

::selection {
  background-color: @white-color;
  color: @primary-color;
}

h1 {
  margin-bottom: 0;
}

ul {
  list-style: none;
}

.app-wrapper {
  display: flex;
  justify-content: center;

  .ant-layout-sider-children {
    .docs-title {
      display: inline-block;
      color: @primary-color;
      font-weight: 600;
      font-size: 20px;
      vertical-align: middle;
      text-align: center;
    }

    .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
      background-color: @white-color;
    }

    .ant-menu-item .anticon + span, .ant-menu-submenu-title .anticon + span {
      font-size: 16px;
      font-weight: bold;
    }

    .ant-menu-sub.ant-menu-inline > .ant-menu-item  {
      font-size: 16px;
      font-weight: 500;
    }
  }
}

